#centralDiv {
    width: 500px;
    margin: auto;
}


#biographyHeader{
    text-align: center;
}

.biographyUl {
    margin-top: 25px;
    font-size: larger;
}

.biographyLi {
    margin-bottom: 15px;
}
