@model Dictionary<string, string?>
<h2 class="alert alert-primary">User Info</h2>
<table class="table table-striped">
    <thead>
        <tr>
            @foreach (var u in Model)
            {
                <th>@u.Key</th>
            }
        </tr>
    </thead>
    <tbody>
        <tr>
            @foreach (var u in Model)
            {
                <td>@u.Value</td>
            }
        </tr>
    </tbody>
</table> 