@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-3">
        @*<vc:caregiries-menu></vc:caregiries-menu>*@
        @await Component.InvokeAsync("CategoriesMenu", new {currentCategory = "Apple"})
    </div>
    <div class="col">

    </div>
</div>
