<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"] - Admin Panel</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/OnlineShop.styles.css" asp-append-version="true" />
</head>
<body>

    <header class="container-fluid">
        <h1>
            Admin page
        </h1>
        <hr />
        <div class="btn-group">
            <a asp-controller="Products" asp-action="Index" class="btn btn-outline-success fw-bold">Products</a>
            <a asp-controller="Categories" asp-action="Index" class="btn btn-outline-success fw-bold">Categories</a>
            <a asp-controller="Photos" asp-action="Index" class="btn btn-outline-success fw-bold">Photos</a>
            <a asp-controller="Roles" asp-action="Index" class="btn btn-outline-success fw-bold">Roles</a>
            <a asp-controller="User" asp-action="Index" class="btn btn-outline-success fw-bold">User</a>
            <a asp-controller="Claims" asp-action="Index" class="btn btn-outline-success fw-bold">Claims</a>
        </div>
    </header>

    <div class="container-fluid mt-3">
        @RenderBody()
    </div>
    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
