<div class="formDiv">
	<form class="form-group" method="post">
		<label class="col-form-label" for="titleInput">Title</label><br />
		<input type="text" name="title" id="titleInput" required class="form-control" /><br />
		<label class="col-form-label" for="authorInput">Author</label><br />
		<input type="text" name="author" id="authorInput" required class="form-control" /><br />
		<label class="col-form-label" for="publisherInput">Publisher</label><br />
		<input type="text" name="publisher" id="publisherInput" required class="form-control" /><br />
		<label class="col-form-label" for="yearInput">Year</label><br />
		<input type="number" name="year" id="yearInput" required class="form-control" /><br />
		<label class="col-form-label" for="styleInput">Style</label><br />
		<input type="text" name="style" id="styleInput" required class="form-control" /><br />
		<label class="col-form-label" for="coverInput">Cover</label><br />
		<input class="form-control" type="file" id="coverInput" name="cover" accept="image/*" /><br />
		<label class="col-form-label" for="descriptionInput">Description</label><br />
		<textarea class="form-control" name="description" id="descriptionInput" required></textarea><br />
		<button type="submit" class="btn btn-outline-success">Add</button>
	</form>
</div>
