@{
	ViewData["Title"] = "Fractions";
}

<div class="text-center">
	<h1 class="display-4">Fractions</h1>
	<form id="fractionsForm">
		<div class="fractionsDiv">
			<div class="fractionDiv">
				<input class="fractionInput" type="text" name="leftTopFractionInput" pattern="\d{1,3}(\.\d{1,2})?" />
				<hr class="fractionHr" />
				<input class="fractionInput" type="text" name="leftBottomFractionInput" pattern="\d{1,3}(\.\d{1,2})?" />
			</div>
			<div class="fractionDiv">
				<input class="fractionInput" type="text" name="rightTopFractionInput" pattern="\d{1,3}(\.\d{1,2})?" />
				<hr class="fractionHr" />
				<input class="fractionInput" type="text" name="rightBottomFractionInput" pattern="\d{1,3}(\.\d{1,2})?" />
			</div>
		</div>
		<button type="submit" class="submitFractionFormButton">Addition</button>
		<button type="submit" class="submitFractionFormButton">Substraction</button>
		<button type="submit" class="submitFractionFormButton">Multiplication</button>
		<button type="submit" class="submitFractionFormButton">Division</button>
		<button type="submit" class="submitFractionFormButton">Fraction simplification</button>
	</form>
	<label id="outputLabelDiv">
		Output:
	</label>
	<br />
	<textarea id="outputTextArea" readonly>

	</textarea>
</div>
