@model Tuple<List<string>, string?>
<div class="btn-group-vertical">
	@foreach (string category in Model.Item1)
	{
		var buttonClass = string.Empty;
		if (category == Model.Item2)
		{
			buttonClass = "bg-warning bg-opacity-10 fw-bold";
		}
		<a asp-action="Index" asp-controller="Home" asp-route-category="@category" class="btn btn-outline-success @buttonClass">
			@category
		</a>
	}
</div>